<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/layout">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Booking Nida Admin</title>
</head>

<body>

<!--fragment start-->
<div th:fragment="flatlab_blog">
    <!--breadcrumbs start-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <h1>Booking</h1>
                </div>
                <div class="col-lg-8 col-sm-8">
                    <ol class="breadcrumb pull-right">
                        <li><a href="#">Booking</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->

    <!--container start-->
    <div class="container">

        <div class="row">
            <!--blog start-->

            <div class="col-lg-3">

                <div class="blog-side-item">
                    <div class="search-row">
                        <section class="panel">
                            <!--  <header class="panel-heading">
                              </header>-->
                            <div class="panel-body">
                                <form role="form"
                                      data-toggle="validator"
                                      th:object="${hotelSearchBinding}"
                                      th:action="@{/searchhotel}"
                                      method="post">

                                    <div class="form-group page-header">
                                        <h2>Search !
                                            <small>Booking</small>
                                        </h2>
                                    </div>
                                    <div class="form-group">
                                        <label>จุดหมายหรือชื่อโรงแรม</label>
                                        <input type="text"
                                               class="form-control"
                                               id="target"
                                               th:field="*{searchHotelName}"
                                               required="required"
                                               placeholder="จุดหมายหรือชื่อโรงแรม"/>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>วันที่เช็คอิน</label>
                                        <div class="iconic-input right">
                                            <i class="fa fa-calendar"></i>
                                            <input type="text"
                                                   id="start_datepicker"
                                                   required="required"
                                                   th:field="*{searchStartDate}"
                                                   class="form-control form-control-inline  input-medium"
                                                   placeholder="วันที่เช็คอิน"/>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>วันที่เช็คเอาท์</label>
                                        <div class="iconic-input right">
                                            <i class="fa fa-calendar"></i>
                                            <input type="text"
                                                   id="end_datepicker"
                                                   required="required"
                                                   th:field="*{searchEndDate}"
                                                   class="form-control form-control-inline  input-medium"
                                                   placeholder="วันที่เช็คเอาท์"/>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>ห้องพัก</label>
                                        <select class="form-control" th:field="*{searchRoomQuantity}">
                                            <option th:value="1">1</option>
                                            <option th:value="2">2</option>
                                            <option th:value="3">3</option>
                                            <option th:value="4">4</option>
                                            <option th:value="5">5</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>ผุ้ใหญ่</label>
                                        <select class="form-control" th:field="*{searchAdulQuantity}">
                                            <option th:value="1">1</option>
                                            <option th:value="2" selected="selected">2</option>
                                            <option th:value="3">3</option>
                                            <option th:value="4">4</option>
                                            <option th:value="5">5</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>เด็ก</label>
                                        <select class="form-control" th:field="*{searchBabyQuantity}">
                                            <option th:value="1">0</option>
                                            <option th:value="2">1</option>
                                            <option th:value="3">2</option>
                                            <option th:value="4">3</option>
                                            <option th:value="5">4</option>
                                        </select>
                                    </div>
                                    <input type="submit" class="btn btn-danger" value="ค้นหา"/>
                                </form>
                            </div>

                        </section>
                    </div>
                </div>
            </div>


            <div class="col-lg-9 ">

               <div th:if="${#lists.isEmpty(hotelExtraBindingList)}">
                   <span>No Data</span>
               </div>

                <div class="row" th:each="hotelExtraBinding : ${hotelExtraBindingList}"  >
                    <div class="col-lg-5">
                        <div class="span5 about-carousel">
                            <div id="myCarousel" class="carousel slide">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item">
                                        <img alt="" th:src="*{'/upload-dir' + hotelExtraBinding.hotelImageUrl}" />
                                        <div class="carousel-caption">
                                            <p> <span class="about-testimonial-company" th:text="${hotelExtraBinding.hotelNameEnglish}">ABC Realestate LLC</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class=" item" th:each="hotelPic : ${hotelExtraBinding.hotelHotelPictureList}">
                                        <img alt="" th:src="*{'/upload-dir' + hotelPic.hotelPicturePictureStore.pictureStorePath}" />
                                        <div class="carousel-caption">
                                            <p> <span class="about-testimonial-company" th:text="${hotelPic.hotelPictureHotel.hotelNameEnglish}">ABC Realestate LLC</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Carousel nav -->
                                <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 about">

                        <h3> <a class="about-testimonial-author"
                                th:href="@{/roomdetail/(hotelId=${hotelExtraBinding.hotelId},startDate=${hotelSearchBinding.searchStartDate},endDate=${hotelSearchBinding.searchEndDate},searchText=${hotelSearchBinding.searchHotelName})}"
                                th:text="${hotelExtraBinding.hotelNameEnglish}">Ericson Reagan</a>
                        </h3>
                        <p th:utext="${hotelExtraBinding.hotelAddressEnglish + ' '
                        + hotelExtraBinding.hotelLocality.localityNameEnglish + ' '
                        + hotelExtraBinding.hotelLocality.localityDistrict.districtNameEnglish + ' '
                        + hotelExtraBinding.hotelLocality.localityDistrict.districtProvince.provinceNameEnglish + ' '
                        + hotelExtraBinding.hotelLocality.localityZipCode }">
                        </p>
                        <p>
                            Hotel Star Leval : <span th:text="${hotelExtraBinding.hotelHotelLevel.hotelLevelNameEnglish}"></span>
                        </p>
                        <p>
                            <a class="btn btn-info"
                               th:href="@{/hotelimage(hotelId=${hotelExtraBinding.hotelId},returnUrl='/',searchText=${hotelSearchBinding.searchHotelName})}">Image</a>
                        </p>
                        <p>
                            <a class="btn btn-danger"
                               th:href="@{/roomdetail/(hotelId=${hotelExtraBinding.hotelId},startDate=${hotelSearchBinding.searchStartDate},endDate=${hotelSearchBinding.searchEndDate},searchText=${hotelSearchBinding.searchHotelName})}">Hotel Detail</a>

                        </p>
                    </div>
                </div>


            </div>

            <!--blog end-->
        </div>


        <!--testimonial start-->
        <div class="about-testimonial boxed-style about-flexslider ">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides about-flex-slides" >
                        <li th:each="hotelBanner : ${hotelBannerList}">
                            <div class="about-testimonial-image ">
                                <img alt="" th:src="*{'/upload-dir' + hotelBanner.hotelImageUrl}" />
                            </div>
                            <a class="about-testimonial-author"
                               th:href="@{/roomdetail/(hotelId=${hotelBanner.hotelId},startDate=${hotelSearchBinding.searchStartDate},endDate=${hotelSearchBinding.searchEndDate},searchText=${hotelSearchBinding.searchHotelName})}"
                               th:text="${hotelBanner.hotelNameEnglish}">Ericson Reagan</a>
                                        <span class="about-testimonial-company"
                                              th:text="${hotelBanner.hotelLocality.localityDistrict.districtProvince.provinceNameEnglish}">ABC Realestate LLC</span>
                            <!--<div class="about-testimonial-content">
                                <p class="about-testimonial-quote"
                                   th:utext="${hotel.hotelDescriptionEnglish}">
                                </p>
                            </div>-->
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!--testimonial end-->

    </div>
    <!--container end-->
</div>
<!--fragment end-->

</body>

</html>
