<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/layout">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Booking Nida Admin</title>
</head>

<body>

<!--fragment start-->
<div th:fragment="flatlab_reserve">
    <!--breadcrumbs start-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <h1>Booking</h1>
                </div>
                <div class="col-lg-8 col-sm-8">
                    <ol class="breadcrumb pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">Reserve</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->

    <!--container start-->
    <div class="container">
        <div class="row">

            <div class=" col-lg-12 col-sm-12">  <!--Table-->
                <section class="panel">
                    <header class="panel-heading">
                        <h4>Reserve Order List :
                            <small><span th:text="${reserveHotelBinding.hotel.hotelNameEnglish}"> </span></small>


                        </h4>
                    </header>
                    <form role="form"
                          th:object="${reserveHotelBinding}"
                          th:action="@{/reserve/payment}"
                          method="post">
                        <input type="hidden" th:field="*{hotel}"/>
                        <input type="hidden" th:field="*{reserveTotalAmount}"/>
                        <input type="hidden" th:field="*{searchStartDate}"/>
                        <input type="hidden" th:field="*{searchEndDate}"/>

                        <table class="table table-striped table-advance table-hover">
                            <thead>
                            <tr>
                                <th><i class="fa fa-bed"></i> Room</th>
                                <th><i class="fa fa-shopping-basket"></i> Number rooms</th>
                                <th><i class="fa fa-shopping-basket"></i> Unit Price</th>
                                <th><i class="fa fa-bookmark"> </i> Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="reserveRoom ,status : ${reserveHotelBinding.reserveRoomList}">
                                <td>
                                    <a href="#" th:text="${reserveRoom.roomRoomType.roomTypeNameEnglish}"></a>
                                    <input type="hidden" th:field="*{reserveRoomList[__${status.index}__].roomId}"/>
                                    <input type="hidden" th:field="*{reserveRoomList[__${status.index}__].reserveRoomQuantity}"/>
                                </td>
                                <td th:text="${reserveRoom.reserveRoomQuantity}">
                                </td>
                                <td th:text="${reserveRoom.roomNormalPrice}"></td>
                                <td th:text="${reserveRoom.roomNormalPrice} * ${reserveRoom.reserveRoomQuantity}">
                                </td>

                            </tr>
                            <tr>
                                <td colspan="3">
                                </td>

                                <td>
                                    <div>
                                    <span> Total : <span
                                            th:text="${reserveHotelBinding.reserveTotalAmount}"></span></span>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                        <div class=" panel">
                        <div class=" pull-right">
                            <span><a th:href="@{/roomdetail/{id}(id=${reserveHotelBinding.hotel.hotelId})}" class="btn btn-warning">Cancel</a>
                                <button type="submit" class="btn btn-success"><i class="fa fa-credit-card-alt"></i> Payment</button></span>
                        </div>
                        </div>

                    </form>
                </section>

            </div>
            <!-- End Table-->


        </div>

    </div>
    <!--container end-->
</div>
<!--fragment end-->

</body>

</html>
